 @font-face { font-family: Miama; src: url('Fonts/Miama.otf'); }


.title {
 margin: 3px;
 background-color: #ffffff;
 border: 2px solid red;
 opacity: .6;
 margin: 3px;
}
 

.title p {
 font-family: "Miama", sans-serif;
 font-size: 100px;
 margin: 5%;
 font-weight: bold;
 text-align: center;
}
 
.navbar {
 margin: 3px;
 background-color: #ffffff;
 border: 1px solid black;
 padding: 3px;
 opacity: .6;
 text-align: center;
}

.navbar li {
 list-style-type: none;
 display: inline;
 line-height: 5px;
 border: 2px solid black;
 padding-left: 20px;
 padding-right: 20px;
 margin-top: 2px;
 margin-bottom: 10px;
 position: static;
}

a {
 
 color: black;
}

a:link {
 text-decoration: none;
}


body {
 background-image: url(Images/Pizza_Background.jpg);
 background-repeat: no-repeat;
 background-size:cover;
 min-height: inherit;
}

main {
 margin: 3px;
 background-color: #ffffff;
 border: 2px solid red;
 opacity: .6;
 margin-bottom: 100px;
}

 main p {
 font-family: "Miama";
 font-size: 90px;
 color: black;
 font-weight: bold;
 margin-top: 40px;
 margin-bottom: 15px;
 text-align: center;
 line-height: 60px;
 }
 

.reviews {
 font-family: "Miama";
 font-size: 60px;
 text-align: center;
 font-weight: bold;
 background-color: #ffffff;
 border: 1px solid black;
 padding-top: 40px;
 padding-bottom: 40px;
 margin-bottom: 100px;
 opacity: .6;
 margin-top: 20px;
 line-height: 10px;
}

.reviewbutton {
 font-family: "Miama";
 font-size: 30px;
 font-weight: bolder;
 letter-spacing: 4px;
 background-color: red;
}


footer {
 position:inherit;
 background-color: none;
 bottom: 0;
 right: 0;
 left: 0;
 text-align: center;
 padding-bottom: 10px;
 padding-top: 10px;
 font-size: 12px;
 font-weight: bolder;
 line-height: 2px;
}
 
 
.infobox {
 text-align: center;
 padding: 1px;
 background-color: white;
 margin: 3px;
 opacity: .6;
 border: 1px solid black;
}
 
 

.infobox p {
 color: black;
 font-family: "Miama", sans-serif;
 font-weight: bolder;
 font-size: 30px;
 padding: 2px;
}



.trademark {
 padding: 5px;
 margin-top: 8px;
 font-family: "Miama";
 font-size: 20px;
 font-weight: bold;
 position:sticky;
}